<%= form_with(model: [job, task], local: true, :html => {multipart: true}) do |form| %>
  <%= render "Shared/errors", object: task %>

<form>
  <div class="form_group">
    <%= form.label :Omschrijving, class: 'form-control-label' %>
    <%= form.text_area :description, id: :task_description, class: 'form-control' %>
  </div>

  <div class="form_group">
    <%= form.label :Bestand, class: 'form-control-label' %>
    <%= form.file_field :file, class: 'form-control' %>
  </div>
  <%= form.check_box :remove_file %> Verwijder bestand

<br>
  <div class="btn-group" role="group">
    <%= form.submit "Opslaan", :class => "btn btn-secondary" %>
  </div>
<% end %>

</form>



