<p id="notice"><%= notice %></p>

<h1>Taken</h1>

<table>
  <thead>
    <tr>
      <th>Omschrijving</th>
      <th>File</th>
      <th>Job</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.description %></td>
        <td><%= task.file %></td>
        <td><%= task.job.title %></td>
        <td><%= link_to 'Taak weergeven', job_task_path(@job, task) %></td>
        <td><%= link_to 'Taak aanpassen', edit_job_task_path(@job, task) %></td>
        <td><%= link_to 'Taak verwijderen', job_task_path(@job, task), method: :delete, data: { confirm: 'Zeker weten?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nieuwe taak', new_job_task_path %>
