<p id="notice"><%= notice %></p>

<p>
  <strong>Omschrijving:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>File:</strong>
  <%= @task.file %>
</p>

<p>
  <strong>Job:</strong>
  <%= @task.job.title %>
</p>

<%= link_to 'Taak aanpassen', edit_job_task_path(@job, @task) %> |
<%= link_to 'Overzicht taken', job_tasks_path(@job) %>
