<div>
  <ul class="list-group">
    <li class="list-group-item">
      <strong>Datum:&nbsp;</strong>
      <%= @task.created_at.to_date.iso8601 %>
    </li>

    <li class="list-group-item">
      <strong>Omschrijving:&nbsp;</strong>
      <%= @task.description %>
    </li>

    <li class="list-group-item">
      <strong>File:&nbsp;</strong>
      <%=  link_to (@task.file_identifier), @task.file.url, target: '_blank' if @task.file? %>
    </li>

    <li class="list-group-item">
      <strong>Door:&nbsp;</strong>
      Contactpersoon koppelen
    </li>

  </ul>
  <br>
  <div class="btn-group" role="group">
    <%= link_to 'Overzicht taken', job_tasks_path(@job), :class => "btn btn-secondary" %>
    <%= link_to 'Taak aanpassen', edit_job_task_path(@job, @task), :class => "btn btn-secondary" %>
    <%= link_to 'Taak verwijderen', job_task_path(@job, @task), method: :delete, data: { confirm: 'Zeker weten?' },
                                                       :class => "btn btn-secondary" %>
  </div>
</div>

