<%= form_with(model: job, local: true) do |form| %>
    <%= render "Shared/errors", object: job %>

  <form>
    <div class="form-group">
      <%= form.label :contactpersoon, class: 'form-control' %>
      <%= form.collection_select(:contactperson, User.all, :name, :name, {prompt: "Selecteer een gebruiker"}, {class: 'form-control'}) %>
    </div>

    <div class="form-group">
      <%= form.label :titel, class: 'form-control' %>
      <%= form.text_field :title, id: :job_title, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :omschrijving, class: 'form-control' %>
      <%= form.text_area :description, id: :job_description, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :artikelnummer, class: 'form-control' %>
      <%= form.text_field :article_number, id: :job_article_number, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :status, class: 'form-control' %>
      <%= form.text_field :status, id: :job_status, class: 'form-control' %>
    </div>

    <div class="actions">
      <%= form.submit "Opslaan", :class => "btn btn-secondary" %>
    </div>
  <% end %>
</form>
