<p id="notice"><%= notice %></p>

<h1>Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Jobnr</th>
      <th>Artikelnummer</th>
      <th>Title</th>
      <th>Actie</th>
      <th>Laatste actie</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.id %></td>
        <td><%= job.article_number %></td>
        <td><%= job.title %></td>
        <td><%= job.description %></td>
        <td><%= job.contactperson %></td>
        <td><%= job.status %></td>
        <td><%= link_to 'Weergeven', job %></td>
        <td><%= link_to 'Aanpassen', edit_job_path(job) %></td>
        <td><%= link_to 'Verwijderen', job, method: :delete, data: { confirm: 'Zeker weten?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nieuwe Job', new_job_path %>
