<h4>Overzicht jobs</h4>


<div class="table-responsive">
<table class="table table-striped table-bordered table">
  <thead class="thead-inverse">
    <tr>
      <th>Jobnr</th>
      <th>Artikelnummer</th>
      <th>Titel</th>
      <th>Actie</th>
      <th>Laatste actie</th>
      <th>Status</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr class = <%= find_company_name(job) %>>
        <td><%= link_to job.id, job %></td>
        <td><%= job.article_number %></td>
        <td><%= link_to job.title, job %></td>
        <td><%= find_description(job) %></td>
        <td><%= find_company_name(job) %></td>
        <td><%= job.status %></td>
        <td><%= link_to 'Taken', job_tasks_path(job) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @jobs %>
  </div>
  <%= will_paginate @jobs, :container => false %>
</div>
<div>
<%= link_to 'Nieuwe Job', new_job_path, :class => "btn btn-secondary"  %>
</div>
