<h1>Overzicht jobs</h1>


<div class="table-responsive">
<table class="table table-striped table-bordered table">
  <thead class="thead-inverse">
    <tr>
      <th>Jobnr</th>
      <th>Artikelnummer</th>
      <th>Title</th>
      <th>Actie</th>
      <th>Laatste actie</th>
      <th>Status</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.id %></td>
        <td><%= link_to job.article_number, job %></td>
        <td><%= job.title %></td>
        <td><%= truncate(job.description, :length => 25) %></td>
        <td><%= job.contactperson %></td>
        <td><%= job.status %></td>
        <td><%= link_to 'Taken', job_tasks_path(job) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<div>
<%= link_to 'Nieuwe Job', new_job_path, :class => "btn btn-secondary"  %>
</div>
