<p id="notice"><%= notice %></p>

<p>
  <strong>Contactperson:</strong>
  <%= @job.contactperson %>
</p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Article number:</strong>
  <%= @job.article_number %>
</p>

<p>
  <strong>Status:</strong>
  <%= @job.status %>
</p>

<%= link_to 'Aanpassen', edit_job_path(@job) %> |
<%= link_to 'Overzicht jobs', jobs_path %>
