<!DOCTYPE html>
<html>
  <head>
    <title>BrandPortal Auping</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <!-- Render topbar partial in views/shared -->
  <%= render "/Shared/topbar" %>

  <div class="container">
       <div class="row">
          <div class="col-sm-1">
          </div>
          <div class="col-sm-10">
            <div>
              <% flash_messages %>
            </div>
            <div>
            </div>
                <%= yield %>
          </div>
          <div class="col-sm-1">
          </div>
        </div>
      </div>
   <%= render "/Shared/footer" %>
</html>
